@{
    ViewData["Title"] = "e nc To Do List";
}

    <div>
        <div class="task-item">
            <span class="task-item-meta-duration">2h</span>
            <span class="task-item-checkbox"><input type="checkbox" /></span>
            <span class="task-item-summary">Fix the UI layout</span>
        </div>

        <div class="task-item">
            <span class="task-item-meta-duration">2h</span>
            <span class="task-item-checkbox"><input type="checkbox" /></span>
            <span class="task-item-summary">Fix the UI layout</span>
        </div>
        <div class="task-item">
            <span class="task-item-meta-duration">2h</span>
            <span class="task-item-checkbox"><input type="checkbox" /></span>
            <span class="task-item-summary">Fix the UI layout</span>
        </div>
        <div class="task-item">
            <span class="task-item-meta-duration">2h</span>
            <span class="task-item-checkbox"><input type="checkbox" /></span>
            <span class="task-item-summary">Fix the UI layout</span>
        </div>
        <div class="task-item">
            <span class="task-item-meta-duration">2h</span>
            <span class="task-item-checkbox"><input type="checkbox" /></span>
            <span class="task-item-summary">Fix the UI layout</span>
        </div>
    </div>

<script>
    const { ipcRenderer } = require("electron");
    document.getElementById("async-msg").addEventListener("click", () => {
        ipcRenderer.send("async-msg", 'ping');
    });

    ipcRenderer.on('asynchronous-reply', (event, arg) => {
        const message = 'Async message reply : ${arg}' + '<>' + arg ;
        document.getElementById("async-reply").innerHTML = message;
    });
</script>