<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - todo_e_nc_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site_dark.css" />
    <style>
        html, body {
            height: 100%
        }

        .workspaces {
            float: left;
            background-color: #111;
            width: 400px;
            min-width: 150px;
            max-width: 500px;
            height: 100%;
            min-height: 100%;
        }

        .workspace-item {
            box-sizing: border-box;
            width: 100%;
            vertical-align: middle;
            margin: 0px;
            padding: 13px 0px;
            text-align: center;
        }

        .workspace-item-img {
            max-width: 50px;
            width: 50px;
            height: 50px;
            margin: 10px;
            vertical-align: middle;
            border-style: none;
        }

        .workspace-item-name {
            padding-left: 10px;
            margin-bottom: 20px;
            vertical-align: middle;
        }

        hr {
            background-color: #333;
            width: 100%;
            height: 1px;
            border: none;
            margin: 0px;
        }

        .folders {
            height: 100%;
            float: right;
            width: 250px;
            background-color: #111;
            border-left: solid 1px #222;
            text-align: left;
        }

        .folder-item {
            padding: 10px;
        }

        .folder-icon {
            width: 16px;
            height: 16px;
            background-image: url('img/folder-closed.png');
            background-repeat: no-repeat;
            padding: 7px;
        }

        .folder-icon-selected {
            width: 16px;
            height: 16px;
            background-image: url('img/folder-flat.png');
            background-repeat: no-repeat;
            padding: 7px;
        }

        .selected {
            background-color: #000;
        }

        .task-item {
            width: 100%;
            padding: 10px;
        }

            .task-item:hover {
                background-color: #000;
            }

        .task-item-checkbox {
            padding: 0px 5px;
        }

        .task-item-summary {
            padding: 0px 5px;
        }

        .task-item-meta-duration {
            padding 0px 5px;
            float: right;
        }

        .my-footer {
            position: absolute;
            bottom: 0px;
            background-color: #111;
            padding: 0px 5px;
            width: 100%;
            height:24px;
            border-top: solid 1px #222;
            text-align: left;
            font-size: 0.7em;
            vertical-align:middle;
        }
    </style>
</head>
<body style="background-color: #222;">
    <div class="navbar1 workspaces">
        <div class="folders">
            <div class="folder-item"><span class="folder-icon"><img src="img/folder-closed.png" width="16" height="16" /></span>To Do Project</div>
            <div class="folder-item selected"><span class="folder-icon-selected"><img src="img/folder-flat.png" width="16" height="16" /></span>Follow up with Boss</div>
            <div class="folder-item"><span class="folder-icon"><img src="img/folder-closed.png" width="16" height="16" /></span>Follow up with Team</div>
            <div class="folder-item"><span class="folder-icon"><img src="img/folder-closed.png" width="16" height="16" /></span>Coding Tasks</div>
            <div class="folder-item"><span class="folder-icon"><img src="img/folder-closed.png" width="16" height="16" /></span>Client Project</div>
            <div class="folder-item"><span class="folder-icon"><img src="img/folder-closed.png" width="16" height="16" /></span>Work Project</div>
        </div>
        <div class="workspace-item">
            <span class="workspace-item-img"><img src="img/personal-workspace-icon.png" width="50" height="50" /></span><br />
            <span class="workspace-item-name">Personal</span>
        </div><hr />
        <div class="workspace-item selected">
            <span class="workspace-item-img"><img src="img/office-workspace-icon.png" width="50" height="50" /></span><br />
            <span class="workspace-item-name">Work</span>
        </div><hr />
        <div class="workspace-item">
            <span class="workspace-item-img"><img src="img/community-workspace-icon.png" width="50" height="50" /></span><br />
            <span class="workspace-item-name">Community</span>
        </div><hr />

    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="my-footer">
        <div class="">
            &copy; 2020 - Yanesh Tyagi -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy [Not yet defined!]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
